<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="nexIRC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <nexIRC.Properties.Settings>
            <setting name="RealName" serializeAs="String">
                <value />
            </setting>
            <setting name="Nick" serializeAs="String">
                <value>matrixlink</value>
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value>irc.libera.chat</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>6667</value>
            </setting>
            <setting name="Alternative" serializeAs="String">
                <value>matrix_link</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>Libera.Chat</value>
            </setting>
            <setting name="ServerPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="MatrixChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="MatrixNodeAddress" serializeAs="String">
                <value>https://matrix-client.matrix.org</value>
            </setting>
            <setting name="MatrixUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="MatrixPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MatrixMachineID" serializeAs="String">
                <value />
            </setting>
            <setting name="UseMultipleNicknames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoReconnect" serializeAs="String">
                <value>True</value>
            </setting>
        </nexIRC.Properties.Settings>
    </userSettings>
</configuration>
